<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codeimagination.properties">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/house"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".props.Delete_Remove_Properties"></activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".props.Property_Details" />
        <activity android:name=".props.Update_Properties" />
        <activity android:name=".home_activities.Performance_Chart" />
        <activity android:name=".home_activities.View_Deleted_Properties" />
        <activity android:name=".home_activities.View_Bought_Properties" />
        <activity android:name=".home_activities.View_Property" />
        <activity android:name=".home_activities.Create_Property" />
        <activity android:name=".Edit_Profile" />
        <activity android:name=".Profile" />
        <activity android:name=".Home" />
        <activity
            android:name=".Dashboard"
            android:theme="@style/AppTheme.FullScreen" />
        <activity android:name=".signup_login.Register_Activity" />

        <receiver android:name="com.allyants.notifyme.NotificationPublisher" />
        <receiver android:name="com.allyants.notifyme.BootNotifyMe">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".signup_login.MainActivity"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".splash_screen.Intro_Activity"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>